@{
    ViewBag.Title = "Home";
}

@*<h2 id="homeTitle">Full Stack Web-Development By <strong>Dillon Fisher</strong></h2>*@

<h1>Hi, I'm Dillon</h1>
<h2>I'm a Full Stack Web-Developer</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />