
@{
    ViewBag.Title = "TestIndex";
}

@*<h2>TestIndex</h2>*@

<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Dillon
            <span class="text-primary">Fisher</span>
        </h1>
        <div class="subheading mb-5">
            (816) 820-1621 ·
            <a href="mailto:dillon.f12.df@gmail.com">dillon.f12.df@gmail.com</a>
        </div>
        <p class="lead mb-5">Passionate and driven web developer capable of producing captivating 3-Tiered web applications.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/dillon-fisher-894462205/"><i class="fab fa-linkedin-in" target="_blank"></i></a>
            <a class="social-icon" href="https://github.com/Fishe90" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://www.instagram.com/fullstackco/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Resume-->
<section class="resume-section" id="resume">
    <div class="resume-section-content">
        <h2 class="mb-5">Technical Training</h2>
        <p style="font-size: 25px">Download my full resume: <a href="~/Content/img/Dillon Fisher Resume IT.pdf" target="_blank" style="font-size: 25px">Dillon Fisher Resume IT.pdf</a></p>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Full-Stack Web Developer Program</h3>
                <div class="subheading mb-3">CENTRIQ TRAINING – KANSAS CITY, MO</div>
                <ul style="float: left">
                    <li>MVC Framework</li>
                    <li>Trouble Shooting & Debugging</li>
                    <li>Source Control</li>
                    <li>Agile/Scrum</li>
                </ul>
                <ul style="float: right">
                    <li>Website Deployment</li>
                    <li>Pair Programming</li>
                    <li>Code Review</li>
                    <li>Professionalism, Teamwork, Problem Solving & Effective Communication</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2020 - Present</span></div>
        </div>
        <h2 class="mb-5">Professional Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">GENERAL MANAGER</h3>
                <div class="subheading mb-3">HERNTRO ROOFING LLC – KANSAS CITY, MO</div>
                <ul>
                    <li>Performed routine dwelling inspections/determined structural status of dwelling.</li>
                    <li>Assisted homeowners through insurance claims/analyzed and processed claims.</li>
                    <li>Processed material orders, scheduled deliveries, sent crews to project sites.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2018 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">SALES ASSOCIATE</h3>
                <div class="subheading mb-3">ROGERS SPORTING GOODS – LIBERTY, MO</div>
                <ul>
                    <li>Provided customer assistance.</li>
                    <li>Resolved customer disputes (when necessary).</li>
                    <li>Constructed displays for the store.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2016 - September 2018</span></div>
        </div>
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Maple Woods Community College</h3>
                @*<div class="subheading mb-3">Bachelor of Science</div>*@
                <div class="subheading mb-3">Associates of Engineering</div>
                <div>*Still In Progress</div>
                <div>Goal: Master's in Software Engineering</div>
                @*<p>GPA: 3.23</p>*@
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2016 - May 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Kearney High School</h3>
                <div class="subheading mb-3">2 Sememsters: Web Development utilizing HTML/CSS</div>
                <p>GPA: 3.56</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2012 - May 2016</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Links-->
<section class="resume-section" id="links">
    <div class="resume-section-content">
        <h2 class="mb-5">Class Links</h2>
        @* Ben Slenker *@
        <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 30px; margin-top: 30px; border: solid 1px lightgray; box-shadow: 5px 5px 15px rgb(189,93,56);">
            <div class="flex-grow-1">
                <img src="~/Content/img/Ben_Slenker.jfif" style="float:left; padding-right: 15px; width: 300px; height: 300px;" />
                <h3 class="mb-0">Ben Slenker</h3>
                <a href="http://benslenker.com/" target="_blank" style="color: blue">benslenker.com</a>
                <br />
                <div class="social-icons" style="padding-top: 10px">
                    <a class="social-icon" href="https://www.linkedin.com/in/dillon-fisher-894462205/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        @* Bryan Clingan *@
        <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 30px; margin-top: 30px; border: solid 1px lightgray; box-shadow: 5px 5px 15px rgb(189,93,56);">
            <div class="flex-grow-1">
                <img src="#" style="float:left; padding-right: 15px; width: 300px; height: 300px;" />
                <h3 class="mb-0">Bryan Clingan</h3>
                <a href="http://bryandoescode.com/" target="_blank" style="color: blue">bryandoescode.com</a>
                <br />
                <div class="social-icons" style="padding-top: 10px">
                    <a class="social-icon" href="https://www.linkedin.com/in/bryan-clingan-b091b4202/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        @* David Muolo *@
        <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 30px; margin-top: 30px; border: solid 1px lightgray; box-shadow: 5px 5px 15px rgb(189,93,56);">
            <div class="flex-grow-1">
                <img src="~/Content/img/David_Muolo.jfif" style="float:left; padding-right: 15px; width: 300px; height: 300px;" />
                <h3 class="mb-0">David Muolo</h3>
                <a href="http://davidmuolo.com/" target="_blank" style="color: blue">davidmuolo.com</a>
                <br />
                <div class="social-icons" style="padding-top: 10px">
                    <a class="social-icon" href="https://www.linkedin.com/in/david-muolo/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        @* Dylan Schwarz *@
        <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 30px; margin-top: 30px; border: solid 1px lightgray; box-shadow: 5px 5px 15px rgb(189,93,56);">
            <div class="flex-grow-1">
                <img src="~/Content/img/Dylan_Schwarz.jfif" style="float:left; padding-right: 15px; width: 300px; height: 300px;" />
                <h3 class="mb-0">Dylan Schwarz</h3>
                <a href="http://dylanschwarz.com/" target="_blank" style="color: blue">dylanschwarz.com</a>
                <br />
                <div class="social-icons" style="padding-top: 10px">
                    <a class="social-icon" href="https://www.linkedin.com/in/dylan-schwarz-baa1b8181/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        @* James Glover *@
        <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 30px; margin-top: 30px; border: solid 1px lightgray; box-shadow: 5px 5px 15px rgb(189,93,56);">
            <div class="flex-grow-1">
                <img src="~/Content/img/James_Glover.jfif" style="float:left; padding-right: 15px; width: 300px; height: 300px;" />
                <h3 class="mb-0">James Glover</h3>
                <a href="http://codingbyjames.com/" target="_blank" style="color: blue">codingbyjames.com</a>
                <br />
                <div class="social-icons" style="padding-top: 10px">
                    <a class="social-icon" href="https://www.linkedin.com/in/james-glover-126105135/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        @* Jeremy Sidener *@
        <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 30px; margin-top: 30px; border: solid 1px lightgray; box-shadow: 5px 5px 15px rgb(189,93,56);">
            <div class="flex-grow-1">
                <img src="~/Content/img/Jeremy_Sidener.jfif" style="float:left; padding-right: 15px; width: 300px; height: 300px;" />
                <h3 class="mb-0">Jeremy Sidener</h3>
                <a href="http://jeremysidener.com/" target="_blank" style="color: blue">jeremysidener.com</a>
                <br />
                <div class="social-icons" style="padding-top: 10px">
                    <a class="social-icon" href="https://www.linkedin.com/in/jeremy-sidener-ab41241ba/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        @* Rachel Mantei *@
        <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 30px; margin-top: 30px; border: solid 1px lightgray; box-shadow: 5px 5px 15px rgb(189,93,56);">
            <div class="flex-grow-1">
                <img src="~/Content/img/Rachel_Mantei.jfif" style="float:left; padding-right: 15px; width: 300px; height: 300px;" />
                <h3 class="mb-0">Rachel Mantei</h3>
                <a href="http://rachelmantei.com/" target="_blank" style="color: blue">rachelmantei.com</a>
                <br />
                <div class="social-icons" style="padding-top: 10px">
                    <a class="social-icon" href="https://www.linkedin.com/in/rachel-mantei-0b0203b7/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Portfolio-->
<section class="resume-section" id="portfolio">
    <div class="resume-section-content">
        <h2 class="mb-5">Portfolio</h2>
        @* FED1Studio *@
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Project: Front End Development Studio</h3>
                <div class="subheading mb-3">Mock-up website utilizing strictly Front-End tier code.</div>
                <a href="http://frontendstudio.dillonfisher.com/" target="_blank" style="color: blue">frontendstudio.dillonfisher.com</a>
                <img src="~/Content/img/FED1_Snippet.JPG" alt="Second slide" style="width: 100%; margin-top: 15px">
            </div>
        </div>
        @* Dungeon Application *@
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Project: Dungeon Application</h3>
                <div class="subheading mb-3">Emulator of the popular Pokemon gaming series written solely in a #C Console Application.</div>
                <p>Link to GitHub Repo <a href="https://github.com/Fishe90/DungeonApplication" target="_blank" style="color: blue">here</a></p>
                <img src="~/Content/img/Game_Snippet.JPG" alt="Second slide" style="width: 100%; margin-top: 15px">
            </div>
        </div>
        @* StoreFront *@
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Project: Store Front</h3>
                <div class="subheading mb-3">An E-commerce based web application utilizing a self-made SQL Server database connected to an MVC web-application.</div>
                <a href="http://storefront.dillonfisher.com/" target="_blank" style="color: blue">storefront.dillonfisher.com</a>
                <img src="~/Content/img/StoreFront_Snippet.JPG" alt="Second slide" style="width: 100%; margin-top: 15px">
            </div>
        </div>
        @* Admin Tool *@
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Project: Admin Tool</h3>
                <div class="subheading mb-3">2-tier web-application connected to a SQL Server database designed to track the progress of an individual user as they progress through each course and lessons within the courses.</div>
                <p>*This project is still under development. Please refer to my GitHub link to view my code progress.</p>
                <a href="https://github.com/Fishe90/FinalProjectLMS" target="_blank" style="color: blue">GitHub</a>
                <img src="~/Content/img/FinalProject_Snippet.png" alt="Second slide" style="width: 100%; margin-top: 15px">
            </div>
        </div>
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-react"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul>        
    </div>
</section>
<hr class="m-0" />
<!-- Contact-->
