
@{
    ViewBag.Title = "Links";
}

<div class="container">
    <div class="col-md-12" style="text-align: center; padding-top: 25px">
        <h3 class="titleLinks">L</h3>
        <h3 id="logo" class="titleLinks"><a href="https://www.linkedin.com/in/dillon-fisher-894462205/" target="_blank" class="fa fa-linkedin" style="text-decoration: none; color: white;"></a></h3>
        <h3 class="titleLinks">ks</h3>
    </div>
</div>
<p class="subtitle" style="font-size: 25px; text-shadow: 0px 0px 10px black;">Links to my fellow Centriq classmate's webpages and LinkedIn Profiles</p>

@*<h3 class="subtitle">Shown below are links to my classmates personal websites along with a brief bio</h3>*@

@*<div class="col-md-12">
            <div class="tabLink">
                <img src="~/Content/img/Ben_Slenker.jfif" /><strong>Ben</strong> Slenker
                <a href="https://www.linkedin.com/in/bslenker/" class="fa fa-linkedin-square"></a>
                <a href="https://www.linkedin.com/in/dylan-schwarz-baa1b8181/" class="fa fa-external-link-square"></a>
            </div>
            <div class="tabLink">
                <img src="~/Content/img/Ben_Slenker.jfif" /><strong>Ben</strong> Slenker
                <a href="https://www.linkedin.com/in/bslenker/" class="fa fa-linkedin-square"></a>
                <a href="https://www.linkedin.com/in/dylan-schwarz-baa1b8181/" class="fa fa-external-link-square"></a>
            </div>
            <div class="tabLink">
                <img src="~/Content/img/Ben_Slenker.jfif" /><strong>Ben</strong> Slenker
                <a href="https://www.linkedin.com/in/bslenker/" class="fa fa-linkedin-square"></a>
                <a href="https://www.linkedin.com/in/dylan-schwarz-baa1b8181/" class="fa fa-external-link-square"></a>
            </div>
    </div>*@

<div class="row rowLink">
    <div class="rowContent" @*class="col-lg-4 col-md-6 col-sm-12"*@>
        <div class="contentBox">
            <p>
                <strong>Ben</strong> Slenker
                <a href="https://www.linkedin.com/in/bslenker/" class="fa fa-linkedin-square" target="_blank"></a>
                <a href="http://benslenker.com/" class="fa fa-external-link-square" target="_blank"></a>
            </p>
        </div>
        <img src="~/Content/img/Ben_Slenker.jfif" />
    </div>
    <div class="rowContent" @*class="col-lg-4 col-md-6 col-sm-12"*@>
        <img src="#" />
        <div class="contentBox">
            <p>
                <strong>Bryan</strong> Clingan
                <a href="https://www.linkedin.com/in/bryan-clingan-b091b4202/" class="fa fa-linkedin-square" target="_blank"></a>
                <a href="http://bryandoescode.com/" class="fa fa-external-link-square" target="_blank"></a>
            </p>
        </div>
    </div>
    <div class="rowContent" @*class="col-lg-4 col-md-6 col-sm-12"*@>
        <img src="~/Content/img/David_Muolo.jfif" />
        <div class="contentBox">
            <p>
                <strong>David</strong> Muolo
                <a href="https://www.linkedin.com/in/david-muolo/" class="fa fa-linkedin-square" target="_blank"></a>
                <a href="http://davidmuolo.com/" class="fa fa-external-link-square" target="_blank"></a>
            </p>
        </div>
    </div>
</div>
<div class="row rowLink">
    <div class="rowContent" @*class="col-lg-4 col-md-6 col-sm-12"*@>
        <img src="~/Content/img/Dylan_Schwarz.jfif" />
        <div class="contentBox">
            <p>
                <strong>Dylan</strong> Schwarz
                <a href="https://www.linkedin.com/in/dylan-schwarz-baa1b8181/" class="fa fa-linkedin-square" target="_blank"></a>
                <a href="http://dylanschwarz.com/" class="fa fa-external-link-square" target="_blank"></a>
            </p>
        </div>
    </div>
    <div class="rowContent" @*class="col-lg-4 col-md-6 col-sm-12"*@>
        <img src="~/Content/img/James_Glover.jfif" />
        <div class="contentBox">
            <p>
                <strong>James</strong> Glover
                <a href="https://www.linkedin.com/in/james-glover-126105135/" class="fa fa-linkedin-square" target="_blank"></a>
                <a href="http://codingbyjames.com/" class="fa fa-external-link-square" target="_blank"></a>
            </p>
        </div>
    </div>
    <div class="rowContent" @*class="col-lg-4 col-md-6 col-sm-12"*@>
        <img src="~/Content/img/Jeremy_Sidener.jfif" />
        <div class="contentBox">
            <p>
                <strong>Jeremy</strong> Sidener
                <a href="https://www.linkedin.com/in/jeremy-sidener-ab41241ba/" class="fa fa-linkedin-square" target="_blank"></a>
                <a href="http://jeremysidener.com/" class="fa fa-external-link-square" target="_blank"></a>
            </p>
        </div>
    </div>
</div>
<div class="row rowLink">
    <div class="rowContent" @*class="col-lg-4 col-md-6 col-sm-12"*@>
        <img src="~/Content/img/Rachel_Mantei.jfif" />
        <div class="contentBox">
            <p>
                <strong>Rachel</strong> Mantei
                <a href="https://www.linkedin.com/in/rachel-mantei-0b0203b7/" class="fa fa-linkedin-square" target="_blank"></a>
                <a href="http://rachelmantei.com/" class="fa fa-external-link-square" target="_blank"></a>
            </p>
        </div>
    </div>
</div>

@*<table class="linkTable">
        <tr>
            <td class="tableSpace">Ben Slenker</td>
            <td class="tableSpace">Bryan Clingan</td>
            <td class="tableSpace">David Muolo</td>
        </tr>
        <tr>
            <td>Dylan Schwarz</td>
            <td>James Glover</td>
            <td>Jeremy Sidener</td>
        </tr>
        <tr>
            <td>Rachel Mantei</td>
        </tr>
    </table>*@
