
@{
    ViewBag.Title = "My Portfolio";
}

<h2 style="text-align: center; font-size: 50px; padding-top: 20px">@ViewBag.Title</h2>
<br />
<h3 style="text-align: center">Projects I created during my time at Centriq.</h3>
<br />

<div class="portfolioLeft">
    <h5>Project:</h5>
    <a href="http://frontendstudio.dillonfisher.com/" target="_blank">
        <div class="button">
            <h5>FED1 Studio</h5>
            @*<p>This project was created using purely Front-End.</p>*@
        </div>
    </a>
    <img src="~/Content/img/FED1_Snippet.JPG" alt="Second slide" style="width: 50%">
</div>
<div class="portfolioRight"> 
    <h5>Project:</h5>
    <a href="http://frontendstudio.dillonfisher.com/" target="_blank">
        <div class="button">
            <h5>FED1 Studio</h5>
            @*<p>This project was created using purely Front-End.</p>*@
        </div>
    </a>
    <img src="~/Content/img/FED1_Snippet.JPG" alt="Second slide" style="width: 50%">
</div>
